<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign To</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navigation') %>
    <h1>Assign To</h1>

    <!-- Форма для выбора сотрудника -->
    <form action="/assignedTo" method="post">
        <label for="employee">Select Employee:</label>
        <select id="employee" name="employee" required>
            <% employees.forEach(employee => { %>
                <option value="<%= employee.assignedTo %>"><%= employee.assignedTo %></option>
            <% }); %>
        </select>
        <button type="submit">Go</button>
    </form>
</body>
</html>
