<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Issue</title>
</head>
<body>
    <h2>Issue</h2>
    <form action="/user/issue" method="post">
        <label for="name">First name:</label>
        <input type="text" id="name" name="firstname" required>
        <br><br>
        <label for="name">Last name:</label>
        <input type="text" id="name" name="lastname" required>
        <br><br>
        <label for="name">Sure name:</label>
        <input type="text" id="name" name="surename" required>
        <br><br>
        <label for="issue">Your issue:</label>
        <input type="text" id="inputissue" name="userissue" required>
        <br><br>
        <button type="submit">Send</button>


        <p id="my_p">some text</p>
        <span id="identified">Тут span с каким-то текстом.</span>
    </form>
</body>
</html>
